@import 'tailwindcss';
@import 'tw-animate-css';
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Edu+QLD+Hand:wght@400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

@custom-variant dark (&:is(.dark *));

[data-theme='dark'] {
    --background: #0a0a0a;
    --foreground: #ededed;
}

/* * {
    border: 1px solid red;
} */

html,
body {
    max-width: 100vw;
    overflow-x: hidden;
}

body {
    background-color: var(--background);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.parallax-outer {
    overflow: hidden;
    height: 100%;
}

.parallax {
    height: 110vh;
    width: 100%;
    position: relative;
}

.parallax img {
    position: absolute;
}

.shape1,
.shape2 {
    width: 100%;
    bottom: 0;
}

.shape1 {
    top: 80%;
    z-index: 4;
    width: 100%;
}
.shape2 {
    bottom: 5%;
    z-index: 3;
}
.shape3 {
    top: 75%;
    z-index: 3;
    width: 100%;
    width: 100%;
    bottom: 0;
    right: 10%;
}

.citsky1 {
    left: 31%;
    top: 50%;
    width: 60%;
    transform: translate(-50%, -50%);
}
.citsky2 {
    top: 40%;
    left: 50%;
    width: 60%;
}
.citsky3 {
    top: 45%;
    left: 00%;
    width: 60%;
}

.cityfooter {
    width: 50%;
    z-index: 1;
    top: 60%;
    opacity: 100%;
    mix-blend-mode: multiply;
}
.cityfooter-2 {
    width: 50%;
    z-index: 1;
    top: 70%;
    opacity: 100%;
    mix-blend-mode: multiply;
    left: 55%;
}

.copy {
    position: absolute;
    bottom: -14%;
    left: 60%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    z-index: -1;
    opacity: 0;
    color: #ffff;
}

.copy h1 {
    font-size: 3rem;
}

.about {
    padding-left: 10%;
    padding-bottom: 20%;
}

.about h2 {
    color: #0a0a0a;
    font-size: 2rem;
}

.about p {
    margin-top: 20px;
    width: 100%;
}

.card-container {
    padding: 50px;
    display: flex;
    gap: 10px;
    align-items: center;
    text-align: center;
    align-content: center;
    justify-content: space-between;
}

.description-card {
    /* border: 1px red solid; */
    gap: 20px;
    flex: 1;
    color: white;
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: start;
}

.description-card h1 {
    font-family: 'Oswald', sans-serif;
    font-size: 4rem;
    margin-bottom: 20px;
    bottom: 0%;
    opacity: 0;
}

.parent-cardies {
    /* border : red solid 1px; */
    display: flex;
    gap: 0px;
}

.cardies1,
.cardies2,
.cardies3 {
    /* background-color: rgba(255, 255, 255, 0.05); */
    /* padding: 20px; */
    border-radius: 10px;
    color: white;
    font-size: 0.8rem;
    line-height: 1.6;
    text-align: start;
}

.cardies1 {
    /* border : red solid 1px; */
    width: 7%;
    opacity: 0;
}

.cardies2 {
    /* border : red solid 1px; */
    font-size: 1.3rem;
    font-weight: bold;
    width: 60%;
    opacity: 0;
    transition:
        transform 0.3s ease-in-out,
        background-color 0.3s ease-in-out;
}
.cardies2 h1 {
    /* opacity: 1; */
    padding: 0;
}

.cardies3 {
    width: 20%;
    opacity: 0;
}

.image-card {
    flex: 1;
    position: relative;
}

.image-card img {
    width: 100%;
    max-width: 5000px;
    border-radius: 10px;
    object-fit: cover;
    left: 600px;
    top: 300px;
    display: block;
    height: auto;
    transform: translate(-50%, -50%);
    opacity: 0;
}

/* .image-card::before {
  content: "";
  position: absolute;
  bottom: -590px;
  left: 400px;
  width: 250px;
  height: 250px;
  background-color: rgba(94, 255, 0, 0.683);
  transform: translate(-50%,-50%);
  z-index: 1;
  mix-blend-mode: multiply;
} */

.parent-card {
    margin-top: 0px;
    display: flex;
    gap: 50px;
    justify-content: center;
    text-align: start;
    /* border: red 1px solid; */
}

.card {
    border-radius: 20px;
    height: 100px;
    width: 240px;
    opacity: 0;
    background-color: rgba(114, 25, 222, 0.298);
    align-items: center;
    padding: 10px;
    text-align: center;
    align-content: center;
    font-weight: bold;
}

.stars {
    opacity: 0%;
    transform: translate(-50%, -50%);
    left: 900px;
    top: 400px;
}

.cloud1 {
    opacity: 100%;
    top: 70%;
    left: 80%;
    transform: translate(-50%, -50%);
    z-index: 1;
}
.cloud2 {
    opacity: 100%;
    /* transform: translate(-50%,-50%); */
    z-index: 1;
    right: 30%;
    bottom: -57%;
    /* left: 80%; */
}
.cloud4 {
    opacity: 100%;
    /* transform: translate(-50%,-50%); */

    z-index: 1;
    right: 0%;
    bottom: -69%;
    /* left: 80%; */
}

.cloud5 {
    opacity: 100%;
    /* transform: translate(-50%,-50%); */
    /* border: red solid 1px;     */
    z-index: 1;
    right: -50%;
    bottom: -119%;
    /* left: 80%; */
}

.shape22 {
    top: 80%;
    z-index: 2;
    width: 100%;
}

.shape21 {
    top: 75%;
    z-index: 1;
    width: 100%;
}

.city {
    top: 500px;
    z-index: 0;
    transform: translate(-50%, -50%);
    left: 1000px;
}

.card img {
    width: 100px;
    margin-bottom: 30px;
}

.card h2 {
    text-align: start;
    font-weight: 100;
}

.card h1 {
    text-align: start;
    font-size: 1rem;
    margin-bottom: 20px;
    color: #ffff;
    transition: color 1s;
}

.card h1:hover {
    color: #a6a6a6;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

a {
    color: inherit;
    text-decoration: none;
}

@media (prefers-color-scheme: dark) {
    html {
        color-scheme: dark;
    }
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 60px 20px;
    width: 100%;
    box-sizing: border-box;
}

@theme inline {
    --radius-sm: calc(var(--radius) - 4px);
    --radius-md: calc(var(--radius) - 2px);
    --radius-lg: var(--radius);
    --radius-xl: calc(var(--radius) + 4px);
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --color-card: var(--card);
    --color-card-foreground: var(--card-foreground);
    --color-popover: var(--popover);
    --color-popover-foreground: var(--popover-foreground);
    --color-primary: var(--primary);
    --color-primary-foreground: var(--primary-foreground);
    --color-secondary: var(--secondary);
    --color-secondary-foreground: var(--secondary-foreground);
    --color-muted: var(--muted);
    --color-muted-foreground: var(--muted-foreground);
    --color-accent: var(--accent);
    --color-accent-foreground: var(--accent-foreground);
    --color-destructive: var(--destructive);
    --color-border: var(--border);
    --color-input: var(--input);
    --color-ring: var(--ring);
    --color-chart-1: var(--chart-1);
    --color-chart-2: var(--chart-2);
    --color-chart-3: var(--chart-3);
    --color-chart-4: var(--chart-4);
    --color-chart-5: var(--chart-5);
    --color-sidebar: var(--sidebar);
    --color-sidebar-foreground: var(--sidebar-foreground);
    --color-sidebar-primary: var(--sidebar-primary);
    --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
    --color-sidebar-accent: var(--sidebar-accent);
    --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
    --color-sidebar-border: var(--sidebar-border);
    --color-sidebar-ring: var(--sidebar-ring);
}

:root {
    --font-sans: 'Inter', sans-serif;
    --radius: 0.625rem;
    --background: oklch(0.815 0.0439 132.28);
    --foreground: oklch(0.145 0 0);
    --card: oklch(1 0 0);
    --card-foreground: oklch(0.145 0 0);
    --popover: oklch(1 0 0);
    --popover-foreground: oklch(0.145 0 0);
    --primary: oklch(0.205 0 0);
    --primary-foreground: oklch(0.985 0 0);
    --secondary: oklch(0.97 0 0);
    --secondary-foreground: oklch(0.205 0 0);
    --muted: oklch(0.97 0 0);
    --muted-foreground: oklch(0.556 0 0);
    --accent: oklch(0.97 0 0);
    --accent-foreground: oklch(0.205 0 0);
    --destructive: oklch(0.577 0.245 27.325);
    --border: oklch(0.922 0 0);
    --input: oklch(0.922 0 0);
    --ring: oklch(0.708 0 0);
    --chart-1: oklch(0.646 0.222 41.116);
    --chart-2: oklch(0.6 0.118 184.704);
    --chart-3: oklch(0.398 0.07 227.392);
    --chart-4: oklch(0.828 0.189 84.429);
    --chart-5: oklch(0.769 0.188 70.08);
    --sidebar: oklch(0.985 0 0);
    --sidebar-foreground: oklch(0.145 0 0);
    --sidebar-primary: oklch(0.205 0 0);
    --sidebar-primary-foreground: oklch(0.985 0 0);
    --sidebar-accent: oklch(0.97 0 0);
    --sidebar-accent-foreground: oklch(0.205 0 0);
    --sidebar-border: oklch(0.922 0 0);
    --sidebar-ring: oklch(0.708 0 0);
}

.dark {
    --background: oklch(0.145 0 0);
    --foreground: oklch(0.985 0 0);
    --card: oklch(0.205 0 0);
    --card-foreground: oklch(0.985 0 0);
    --popover: oklch(0.205 0 0);
    --popover-foreground: oklch(0.985 0 0);
    --primary: oklch(0.922 0 0);
    --primary-foreground: oklch(0.205 0 0);
    --secondary: oklch(0.269 0 0);
    --secondary-foreground: oklch(0.985 0 0);
    --muted: oklch(0.269 0 0);
    --muted-foreground: oklch(0.708 0 0);
    --accent: oklch(0.269 0 0);
    --accent-foreground: oklch(0.985 0 0);
    --destructive: oklch(0.704 0.191 22.216);
    --border: oklch(1 0 0 / 10%);
    --input: oklch(1 0 0 / 15%);
    --ring: oklch(0.556 0 0);
    --chart-1: oklch(0.488 0.243 264.376);
    --chart-2: oklch(0.696 0.17 162.48);
    --chart-3: oklch(0.769 0.188 70.08);
    --chart-4: oklch(0.627 0.265 303.9);
    --chart-5: oklch(0.645 0.246 16.439);
    --sidebar: oklch(0.205 0 0);
    --sidebar-foreground: oklch(0.985 0 0);
    --sidebar-primary: oklch(0.488 0.243 264.376);
    --sidebar-primary-foreground: oklch(0.985 0 0);
    --sidebar-accent: oklch(0.269 0 0);
    --sidebar-accent-foreground: oklch(0.985 0 0);
    --sidebar-border: oklch(1 0 0 / 10%);
    --sidebar-ring: oklch(0.556 0 0);
}

@layer base {
    * {
        @apply border-border outline-ring/50;
    }
    body {
        @apply bg-background text-foreground;
        font-family: var(--font-sans);
    }
}
