.carouselWrapper {
  /* border: 1px red solid; */
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.carousel {
  display: flex;
  gap: 16px;
  max-width: 990px;
  overflow: hidden;
  padding: 20px;
}

.card {
  flex: 0 0 300px;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  border-radius: 12px;
  padding: 20px;
  text-align: center;
  color: white;
  transition: transform 0.3s ease, opacity 0.3s ease;
}

.centerCard {
  transform: scale(1.05);
  background: rgba(255, 255, 255, 0.8);
  backdrop-filter: none;
  color: black;
  z-index: 2;
}

.sideCard {
  opacity: 0.6;
  transform: scale(0.9);
  backdrop-filter: blur(10px);
}

.readMoreButton {
  margin-top: 10px;
  color: #0070f3;
  background: none;
  border: none;
  cursor: pointer;
  font-weight: bold;
}

.avatar {
  width: 70px;
  height: 70px;
  object-fit: cover;
  margin-bottom: 10px;
  
}

.rating {
  font-weight: bold;
  margin-bottom: 10px;
}

.nav {
  background-color: #00000027;
  border: 1px white solid;
  color: white;
  /* border: none; */
  font-size: 24px;
  padding: 10px;
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 0.3s;
}

.nav:hover {
  background-color: #ffffff;
  color: rgb(0, 0, 0);
}

.fadeIn {
  opacity: 1;
  transition: opacity 0.3s ease-in;
}

.fadeOut {
  opacity: 0;
  transition: opacity 0.3s ease-out;
}

.cardWrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  position: relative;
  overflow: hidden;
}